<nav class="nav">
  <div class="container nav-inner">

    <!-- Logo -->
    <a href="{{ "/" | relURL }}" class="nav-logo">
      <!-- <div class="nav-logo-mark">RSE</div> -->
       <img
        src="{{ "/images/MORU_RSE_LOGO_nav.png" | relURL }}"
        alt="{{ .Site.Params.shortName | default .Site.Title }}"
        class="nav-logo-img"
      >
    </a>

    <!-- Links -->
    <ul class="nav-links">
      {{ range .Site.Menus.main }}
      {{ $menuURL := .URL | relURL }}
      <li>
        <a href="{{ $menuURL }}"
           {{ if eq $.RelPermalink $menuURL }}class="active"{{ end }}>
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>

    <!-- Mobile toggle -->
    <button class="nav-toggle" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>

  </div>
</nav>